PORT=3030
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=project_management
JWT_SECRET=your-super-secret-key
JWT_EXPIRED=6h
JWT_REFRESH_TOKEN=24h
APP_URL=http://localhost:3030
